
@media screen and (max-width: 365px) {
  .Authors {
    .title {
      font-size: 1.6rem;
    }

    .no-authors {
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width: 576px) {
  .Authors {
    .title {
      font-size: 1.7em;
    }

    .no-authors {
      font-size: 0.95em;
    }
  }
}


@media screen and (min-width: 992px) {
  .Authors {
    .title {
      font-size: 2em;
    }

    .no-authors {
      font-size: 1em;
    }
  }

}