//Author Update Form

//max width 376px (iPhone 6/7/8 Vertical)
@media screen and (max-width: 376px) {
  .ua-form-container {

    .top {

      .ua-title {
        font-size: medium;
      }
    }

    .ua-form {
      .author-name-label {
        font-size: 10px;
      }

      .author-name-input {
        font-size: 10px;
      }

      .update-btn-container {
        margin-top: 2em;
        margin-bottom: 10em;
      }
    }
  }
}
