$ca_title_color: #084732;
$input_field_border_color: #959595;
$create_btn_color: #00579c;

.aa-form-container {
  padding-left: 0;
  margin-top: 3em;

  .ca-title {
    color: $ca_title_color;
    padding-left: 0.6em;
    font-weight: 500;
    font-size: x-large;

    .ca-title-text {
      text-underline-position: under;
      margin: 0;
    }
  }

  .close-btn {
    text-align: right;
    padding-top: 0.4em;

    .close-icon {
      cursor: pointer;
    }
  }

  .aa-form {
    .author-name-label {
      font-size: 12px;
      font-weight: 500;
    }

    .author-name-input {
      border: 2px solid $input_field_border_color;
      border-radius: 0;
    }

    .create-btn-container {
      margin-top: 2em;
      margin-bottom: 10em;
      text-align: right;

      .create-btn {
        border-radius: 6px;
        background-color: $create_btn_color;
        height: 2em;
        width: 6.8em;

      }
    }
  }
}