.Library {
    font-family: "Raleway", sans-serif;
}

.Library h1 {
    color: #253439;
    font-weight: 700;
}

.Library img {
    width: 100%;
    height: auto;
}

.Library .credits .photo-credits {
    padding-right: 2em;
    color: #2d2d2d;
}