@import "Library";
@import "Books";

@media screen and (max-width: 576px) {

  //Library Section (Root)
  .Library{
    .credits {
      .photo-credits{
        font-size: 0.7em;
      }
    }

  }
  //Books Section
  .Books{
    .title{
      font-size: 1.6em;
    }
    .no-books {
      //color: $no_books_listed_font_color;
      font-size: 0.9em;
    }
    //Add Book
    .ab-form-container{
      .cb-title{
        padding-left: 1em;
        padding-right: 3em;
        font-size: large;
        .cb-title-text{
          font-size: large;
          max-width: 8em;
          min-width: 6em;
        }
      }
      .close-btn {
        //padding-bottom: 0.8em;
        font-size: .75em;
        .close-icon {
          cursor: pointer;
          width: 1.5em;
          height: 1.5em;
        }
      }
      .ab-form {

        .book-title-label, .book-isbn-label, .book-author-label {
          font-size: 9px;
        }

        .book-title-input, .book-isbn-input, .book-author-input {
          width: 70vw;
          font-size: 10px;

        }
        .create-btn-container {
          width: 70vw;
          padding-left: 10em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          //margin-left: 16em;
          .create-btn{
            margin-left: 100px;
          }
        }
      }
    }

    //Update Book
    .ub-form-container {
      .ub-form {

        .book-title-input, .book-isbn-input, .book-author-input {
          width: 70vw;
          font-size: 10px;
        }
        .update-btn-container {
          padding-left: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          margin-right: 6.5em;
        }

      }
    }
  }

  //Authors Section
  .Authors {
      font-family: 'Raleway', sans-serif;
      margin-left: 1vw;

      .title {
        font-size: 1.6em;
      }
      .no-authors{
        //color: $no_books_listed_font_color;
        font-size: 0.9em;
      }

      .aa-form-container {
           .aa-form{

             .author-name-input{
               width: 70vw;
               font-size: 10px;
             }

             .create-btn-container{
               padding-left: 0.5em;
               margin-top: 2em;
               margin-bottom: 2em;
               float: right;
               margin-right: 6.5em;
             }

           }
      }
    .ua-form-container {
      .ua-form {
        .author-name-input {
          width: 70vw;
          font-size: 10px;
        }
        .update-btn-container {
          padding-left: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          margin-right: 6.5em;
        }
      }
    }

  }
}

