@import "./MobileResponsive/Authors/AuthorFormResponsive.scss";

.Library {
    font-family: "Raleway", sans-serif;
}

.Library h1 {
    color: #253439;
    font-weight: 700;
}

.Library img {
    width: 100%;
    height: auto;
}

.Library .credits .photo-credits {
    padding-right: 2em;
    color: #2d2d2d;
}

@media screen and (max-width: 576px) {
    .Library .credits .photo-credits {
        font-size: 0.7em;
        color: red;
    }
}

@media screen and (max-width: 365px) {
    .Library .credits .photo-credits {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 992px) {
    .Library .credits .photo-credits {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 365px) {
    .Authors .title {
        font-size: 1.6rem;
    }

    .Authors .no-authors {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 576px) {
    .Authors .title {
        font-size: 1.7em;
    }

    .Authors .no-authors {
        font-size: 0.95em;
    }
}

@media screen and (min-width: 992px) {
    .Authors .title {
        font-size: 2em;
    }

    .Authors .no-authors {
        font-size: 1em;
    }
}

@media screen and (max-width: 767px) {
    .author-list .AddedAuthor {
        font-size: 0.7em;
    }

    .author-list .delete-btn {
        width: 0.9em;
        height: 0.9em;
        padding-bottom: 0.1em;
        margin-bottom: 0.4em;
    }

    .author-list .edit-btn {
        width: 0.9em;
        height: 0.9em;
        padding-bottom: 0.1em;
        margin-bottom: 0.4em;
    }
}

@media screen and (max-width: 365px) {
    .author-list .AddedAuthor {
        font-size: 0.7em;
    }

    .author-list .delete-btn {
        width: 0.8em;
        height: 0.8em;
        padding-bottom: 0.2em;
        margin-bottom: 0.4em;
    }

    .author-list .edit-btn {
        width: 0.8em;
        height: 0.8em;
        padding-bottom: 0.2em;
        margin-bottom: 0.4em;
    }
}

@media screen and (max-width: 365px) {
    .Books .title {
        font-size: 1.6rem;
    }

    .Books .no-books {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 576px) {
    .Books .title {
        font-size: 1.7em;
    }

    .Books .no-books {
        font-size: 0.95em;
    }
}

@media screen and (min-width: 992px) {
    .Books .title {
        font-size: 2em;
    }

    .Books .no-books {
        font-size: 1em;
    }
}