@import "Library";
@import "Books";

@media screen and (max-width: 576px) {
  .Library{
    .credits {
      .photo-credits{
        font-size: 0.7em;
      }
    }

  }
  .Books{
    .title{
      font-size: 1.6em;
    }
    .no-books {
      //color: $no_books_listed_font_color;
      font-size: 0.9em;
    }
    .ab-form-container{
      width: 100%;
      height:100%;
      display: inline-block;
      flex-basis: fit-content;
      .ab-form {
        .book-title-input, .book-isbn-input, .book-author-input {
          width: 70vw;
          font-size: 10px;

        }
        .create-btn-container {
          padding-left: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          margin-right: 6.5em;
        }
      }
    }


    .ub-form-container {
      .ub-form {

        .book-title-input, .book-isbn-input, .book-author-input {
          width: 70vw;
          font-size: 10px;
        }
        .update-btn-container {
          padding-left: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          margin-right: 6.5em;
        }

      }
    }
  }

  .Authors {
      font-family: 'Raleway', sans-serif;
      margin-left: 1vw;

      .title {
        font-size: 1.6em;
      }
      .no-authors{
        //color: $no_books_listed_font_color;
        font-size: 0.9em;
      }

      .aa-form-container {
           .aa-form{

             .author-name-input{
               width: 70vw;
               font-size: 10px;
             }

             .create-btn-container{
               padding-left: 0.5em;
               margin-top: 2em;
               margin-bottom: 2em;
               float: right;
               margin-right: 6.5em;
             }

           }
      }
    .ua-form-container {
      .ua-form {
        .author-name-input {
          width: 70vw;
          font-size: 10px;
        }
        .update-btn-container {
          padding-left: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          float: right;
          margin-right: 6.5em;
        }
      }
    }

  }
}

