$ua_title_color: #084732;
$input_field_border_color: #959595;
$update_btn_color: #00579c;

.ua-form-container {
  padding-left: 0;
  margin-top: 3em;

  .ua-title {
    color: $ua_title_color;
    font-weight: 500;
    font-size: x-large;

    .ua-title-text {
      text-underline-position: under;
      margin: 0;
    }
  }

  .close-btn {
    text-align: right;

    .close-icon {
      cursor: pointer;
    }
  }

  .ua-form {
    margin-right: 1em;

    .author-name-label {
      font-size: 12px;
      font-weight: 500;
    }

    .author-name-input {
      border: 2px solid $input_field_border_color;
      border-radius: 0;
    }

    .update-btn-container {
      text-align: right;

      .update-btn {
        border-radius: 6px;
        background-color: $update_btn_color;
        height: 2em;
        width: 6.8em;
      }
    }
  }
}