//Book Add Form

@media screen and (max-width:  350px) {
  .ab-form-container {

    .cb-title {
      .cb-title-text {
        border-bottom-width: 3px;
        max-width: 0.6em;
      }
    }

    .ab-form {
      padding-left: 2em;

      .book-title-label, .book-price-label, .book-author-label {
      }

      .book-title-input, .book-price-input, .book-author-input {
        //width: 100%;
      }

      .create-btn-container {
        width: 100%;
        .create-btn {
        }
      }
    }
  }
}

