//Book Update Form

//max width 1025px (iPhone 6/7/8 Vertical)
@media screen and (max-width:  350px) {
  .ub-form-container {

    .ub-title {
      .ub-title-text {
        border-bottom-width: 3px;
        max-width: 0.6em;
      }
    }

    .ub-form {
      padding-left: 2em;
      .update-btn-container {
        width: 100%;
      }
    }
  }
}