@import "~bootstrap/scss/bootstrap";

$title_font_color: #253439;
$credits_font_color: #2d2d2d;

.App {
	font-family: 'Raleway', sans-serif;

	h1 {
		color: $title_font_color;
		font-weight: 700;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.credits {
	.photo-credits {
		color: $credits_font_color;
	}
}